body {
    background-image: url(../media/doodles.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#hcam {
    color: gold;
}

.rps-row {
    display: none;
}

.player2column {
    display: none;
    
}

.btn-success:disabled {
    background-color: black;
}
.btn-success:disabled {
    background-color: black;  
}
.btn-firstuser:disabled {
    background-color: black;
}
.btn-seconduser:disabled {
    background-color: black;  
}


.panel-body {
    background-color: black;
    color: white;
}