.container {
    background-image: url(../media/doodles.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#hcam {
    color: gold;
    text-shadow: 3px 3px 5px #000000;
}

.btn-success:disabled {
    background-color: black;
}
.btn-success:disabled {
    background-color: black;  
}

.btn-start {
    background-color: gold;
}

.btn-start:disabled {
    background-color: black;
}



.panel-body {
    background-color: darkgrey;
    color: black;
    box-shadow: 10px 10px 5px grey;
}

#board {
    box-shadow: 10px 10px 5px grey;
}